.checkboxItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.checkbox {
  margin-right: 8px;
  accent-color: var(--color-primary);
}

.checkbox:checked {
  background-color: var(--color-primary);
}

/* For browsers that support custom checkbox styling */
.checkbox[type="checkbox"]:checked::before {
  color: white;
}

.label {
  font-size: 14px;
  color: var(--color-foreground);
}